@use "./colors.scss" as *;
@use "./typography.scss" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(Hero, cr);
// @include grid(2, 2, fr, 1rem)

*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
html:focus-within {
	scroll-behavior: smooth;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	background-color: var(--bg-clr);
	max-height: 100vh;
	.Container {
		width: 84%;
		height: 100%;
		margin-inline: auto;
	}
}

html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
li,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	a {
		text-decoration: none;
	}
}
::-moz-focus-inner {
	border: none;
}

// ::-webkit-scrollbar {

// }

:focus-visible {
	outline-color: var(--accent-clr);
	outline-style: solid;
	outline-width: #{toRem(3px)};
	outline-offset: #{toRem(5px)};
}
input,
button,
textarea,
a,
select {
	font: inherit;
}
img,
picture {
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	user-select: none;
	display: block;
}
.Button {
	min-height: 3.25rem;
	max-height: 3em;
	width: min-content;
	max-width: min(100%, 90vw);
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	user-select: none;
	text-align: center;
	appearance: button;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	padding: max(0.5em, 0.5rem) 0;
	font-size: var(--fs-300);
	line-height: 1.5;
	letter-spacing: #{toRem(2.7px)};
	text-transform: uppercase;
	font-weight: 400;
	background-color: transparent;
	color: var(--txt-clr);
	border: 0;
	box-shadow: 0 0 0 -0.4em var(--bg-clr), 0 0 0 -0.6em hsla(216, 98%, 52%);
	transition: box-shadow 400ms cubic-bezier(0.66, -0.2, 0.27, 1.15);
}

.Button[date-selected="true"]::after,
.Button[date-selected="false"]:hover::after,
.Button[date-selected="false"]:focus-visible::after {
	content: "";
	outline: none;
	position: absolute;
	width: 100%;
	height: #{toRem(2.5px)};
	background-color: hsl(var(--clr-alpha-white) / 0.5);
	bottom: 0;
	left: 0;
}
.Button[date-selected="true"]::after {
	background-color: var(--txt-clr);
}

.inputFiled {
	min-height: 3.25rem;
	max-height: 3em;
	width: min-content;
	max-width: min(100%, 90vw);
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	vertical-align: middle;
	user-select: none;
	text-align: start;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	padding: max(0.5em, 0.5rem) max(1.5em, 1.5rem);
	font-size: var(--fs-s);
	font-weight: 400;
	font-family: var(--ff-sans-cond);
	background-color: transparent;
	color: var(--txt-clr);
	border: 2px solid var(--secondary-clr);
	outline: none;
	border-radius: 8px;
	// box-shadow: 0 0 0 -0.4em var(--bg-clr), 0 0 0 -0.6em hsla(216, 98%, 52%);
	transition: box-shadow 400ms cubic-bezier(0.66, -0.2, 0.27, 1.15);
}
.Button:focus-visible,
.inputFiled:focus-visible {
	box-shadow: 0 0 0 0.3em var(--bg-clr), 0 0 0 0.5em #0d6dfd;
}
.Button:focus,
.inputFiled:focus {
	outline: none;
}
.Button:not(:last-child),
.inputFiled:not(:last-child) {
	margin: 0 1rem 0 0;
}
.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
