:root {
  --clr-blue-500: hsl(216, 98%, 52%);
  --clr-blue-400: hsl(209, 98%, 56%);
  --clr-blue-300: hsl(209, 91%, 65%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray-700: hsl(230 35% 7%);
  --clr-gray-600: hsl(210, 11%, 15%);
  --clr-gray-300: hsl(210, 11%, 71%);
  --clr-gray-200: hsl(231 77% 90%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-alpha-gray-700: 230 35% 7%;
  --clr-alpha-gray-200: 31 77% 90%;
  --clr-alpha-white: 0 0% 100%;
  --bg-clr-light: var(--clr-gray-700);
  --txt-clr-light: var(--clr-white);
  --accent-clr-light: var(--clr-blue-300);
  --secondary-clr-light: var(--clr-gray-200);
  --bg-clr-dark: var(--clr-gray-600);
  --txt-clr-dark: var(--clr-white);
  --accent-clr-dark: var(--clr-blue-400);
  --secondary-clr-dark: var(--clr-gray-300);
  --bg-clr: var(--bg-clr-light);
  --txt-clr: var(--txt-clr-light);
  --accent-clr: var(--accent-clr-light);
  --secondary-clr: var(--secondary-clr-light);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-clr: var(--bg-clr-dark);
    --txt-clr: var(--txt-clr-dark);
    --accent-clr: var(--accent-clr-dark);
    --secondary-clr: var(--secondary-clr-dark);
    color-scheme: dark;
  }
}
section[aria-labelledby=crow-section-title] .Container .crow, section[aria-labelledby=crow-section-title] .Container .crow .crow-text, section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav, section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul, section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star, section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=false], section[aria-labelledby=destination-section-title] .Container .destination, section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star, section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false], section[aria-labelledby=destination-section-title] .Container .destination .destination-text, section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav, section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav ul, section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] .info, section[aria-labelledby=hero-section-title] .Container .Hero, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star .explore-Button, header .header-Container, header .header-Container .Logo, header .header-Container .main-navigation, header .header-Container .main-navigation ul, header .header-Container .main-navigation ul li, .opps .Container {
  display: flex;
}

section[aria-labelledby=crow-section-title] .Container .crow, section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav, section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul, section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star, section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=false], section[aria-labelledby=destination-section-title] .Container .destination, section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star, section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false], section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav, section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav ul, section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] .info, section[aria-labelledby=hero-section-title] .Container .Hero, header .header-Container, header .header-Container .main-navigation, header .header-Container .main-navigation ul, header .header-Container .main-navigation ul li {
  flex-direction: row;
}

section[aria-labelledby=crow-section-title] .Container .crow .crow-text, section[aria-labelledby=destination-section-title] .Container .destination .destination-text, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star .explore-Button, .opps .Container {
  flex-direction: column;
}

section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul, section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star, section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=false], section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star, section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false], section[aria-labelledby=destination-section-title] .Container .destination .destination-text, section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav ul, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star .explore-Button, header .header-Container .Logo, header .header-Container .main-navigation ul li, .opps .Container {
  justify-content: center;
}

section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav, section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav, section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] .info {
  justify-content: flex-start;
}

section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star, header .header-Container .main-navigation {
  justify-content: flex-end;
}

section[aria-labelledby=crow-section-title] .Container .crow .crow-text, header .header-Container {
  justify-content: space-between;
}

header .header-Container .main-navigation ul {
  justify-content: space-evenly;
}

section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav, section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false], section[aria-labelledby=destination-section-title] .Container .destination .destination-text, section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav, section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] .info, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star .explore-Button, header .header-Container, header .header-Container .Logo, header .header-Container .main-navigation, header .header-Container .main-navigation ul, header .header-Container .main-navigation ul li, .opps .Container {
  align-items: center;
}

section[aria-labelledby=crow-section-title] .Container .crow .crow-text, section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul, section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star, section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav ul, section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text {
  align-items: flex-start;
}

section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star, section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=false], section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star {
  align-items: flex-end;
}

:root {
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  --fs-900: clamp(9.375rem, 9.2561881188rem + 0.396039604vw, 9.875rem);
  --fs-800: clamp(6.25rem, 6.1311881188rem + 0.396039604vw, 6.75rem);
  --fs-700: clamp(3.5rem, 3.3811881188rem + 0.396039604vw, 4rem);
  --fs-600: clamp(2rem, 1.8811881188rem + 0.396039604vw, 2.5rem);
  --fs-500: clamp(1.75rem, 1.6311881188rem + 0.396039604vw, 2.25rem);
  --fs-400: clamp(1.25rem, 1.1311881188rem + 0.396039604vw, 1.75rem);
  --fs-300: clamp(1rem, 0.8811881188rem + 0.396039604vw, 1.5rem);
  --fs-200: clamp(0.75rem, 0.6905940594rem + 0.198019802vw, 1rem);
  --fs-100: clamp(0.75rem, 0.6311881188rem + 0.396039604vw, 1.25rem);
  --fs-s: var(--fs-200);
  --fs-m: var(--fs-400);
  --fs-l: var(--fs-600);
  --fs-xl: var(--fs-800);
  --fs-xxl: var(--fs-900);
  --fw-l: 400;
  --fw-m: 500;
  --fw-b: 700;
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.fs-s {
  font-size: var(--fs-100);
}

.fs-m {
  font-size: var(--fs-200);
}

.fs-l {
  font-size: var(--fs-500);
}

.fs-xl {
  font-size: var(--fs-700);
}

.fs-xxl {
  font-size: var(--fs-900);
}

.fw-l {
  font-weight: var(--fw-l);
}

.fw-m {
  font-weight: var(--fw-m);
}

.fw-b {
  font-weight: var(--fw-b);
}

h1,
.h1 {
  font-size: var(--fs-l);
  font-weight: var(--fw-b);
  color: var(--txt-clr);
}

h2,
.h2 {
  font-size: var(--fs-l);
  font-weight: var(--fw-b);
  color: var(--txt-clr);
}

h3,
.h3 {
  font-size: var(--fs-m);
  font-weight: var(--fw-m);
  color: var(--secondary-clr);
}

h4,
.h4 {
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  color: var(--secondary-clr);
}

p,
.p {
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
  color: var(--secondary-clr);
}

a:not(.Button) {
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  text-decoration: none;
  color: var(--txt-clr);
}

.link {
  text-decoration: underline !important;
  color: var(--accent-clr) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-clr);
  max-height: 100vh;
}
body .Container {
  width: 84%;
  height: 100%;
  margin-inline: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a,
ul a {
  text-decoration: none;
}

::-moz-focus-inner {
  border: none;
}

:focus-visible {
  outline-color: var(--accent-clr);
  outline-style: solid;
  outline-width: 0.1875rem;
  outline-offset: 0.3125rem;
}

input,
button,
textarea,
a,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}

.Button {
  min-height: 3.25rem;
  max-height: 3em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: min(100%, 90vw);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  padding: max(0.5em, 0.5rem) max(1.5em, 1.5rem);
  font-size: var(--fs-300);
  line-height: 1.5;
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: transparent;
  color: var(--txt-clr);
  border: 1px solid hsl(var(--clr-alpha-white)/0.5);
  border-radius: 5px;
  box-shadow: 0 0 0 -0.4em var(--bg-clr), 0 0 0 -0.6em hsl(216deg, 98%, 52%);
  transition: box-shadow 400ms cubic-bezier(0.66, -0.2, 0.27, 1.15);
}

.Button[date-selected=true]::after,
.Button[date-selected=false]:hover::after,
.Button[date-selected=false]:focus-visible::after {
  content: "";
  outline: none;
  position: absolute;
  width: 100%;
  height: 0.15625rem;
  background-color: hsl(var(--clr-alpha-white)/0.5);
  bottom: 0;
  left: 0;
}

.Button[date-selected=true]::after {
  background-color: var(--txt-clr);
}

.Button:focus-visible {
  box-shadow: 0 0 0 0.3em var(--bg-clr), 0 0 0 0.5em #0d6dfd;
}

.Button:focus {
  outline: none;
}

.Button:not(:last-child) {
  margin: 0 1rem 0 0;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.opps {
  width: 100vw;
  height: 100vh;
  padding-top: var(--Header-hight);
  background-image: url(../../assets/images/img/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.opps .Container {
  text-align: center;
}
.opps .Container h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-l);
  color: var(--txt-clr);
  font-family: var(--ff-sans-cond);
  line-height: 1.2;
}
.opps .Container .Button {
  font-family: var(--ff-sans-cond);
  line-height: 1.2;
  background-color: var(--clr-gray-600);
}

:root {
  --Header-hight: calc(8vh + 3rem);
  --header-Container-width: 92%;
  --Header-Nav-width: 90%;
  --Header-icon-hight: 5em;
  --bg-blur-hight: 60%;
}

header {
  width: 100vw;
  height: var(--Header-hight);
  z-index: 100;
  position: fixed;
  padding: 0.2rem 0 0 0;
}
header .header-Container {
  height: 100%;
  width: var(--header-Container-width);
  margin-left: calc(100% - var(--header-Container-width));
  gap: 1rem;
}
header .header-Container .Logo {
  height: 100%;
}
header .header-Container .Logo a {
  cursor: pointer;
}
header .header-Container .Logo a img {
  width: var(--fs-600);
}
header .header-Container .mobile-nav-toggle {
  --icon-size: var(--fs-400);
  cursor: pointer;
  display: none;
  position: absolute;
  right: calc(100% - var(--header-Container-width));
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: var(--icon-size);
  height: var(--icon-size);
  z-index: 1000;
}
header .header-Container .main-navigation {
  width: var(--Header-Nav-width);
  height: var(--bg-blur-hight);
  font-size: var(--fs-m);
  padding-right: calc(100% - var(--header-Container-width));
}
header .header-Container .main-navigation ul {
  width: 78%;
  height: 100%;
  font-family: var(--ff-sans-cond);
  z-index: 1;
}
header .header-Container .main-navigation ul li {
  height: 100%;
  position: relative;
}
header .header-Container .main-navigation ul li a {
  font-size: var(--fs-300);
  line-height: 1.5;
  color: hsl(var(--clr-alpha-white)/0.6);
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
}
header .header-Container .main-navigation ul li a span {
  margin-right: clamp(0.0625rem, 0.0030940594rem + 0.198019802vw, 0.3125rem);
  font-weight: var(--fw-b);
  color: var(--txt-clr);
}
header .header-Container .main-navigation ul li a[date-selected=false]:hover::after,
header .header-Container .main-navigation ul li a[date-selected=false]:focus-visible::after,
header .header-Container .main-navigation ul li a[date-selected=true]::after {
  content: "";
  outline: none;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background-color: hsl(var(--clr-alpha-white)/0.5);
  bottom: 0;
  left: 0;
}
header .header-Container .main-navigation ul li a[date-selected=true]::after {
  background-color: var(--txt-clr);
}
header .bg-blur {
  position: absolute;
  width: 70%;
  height: var(--bg-blur-hight);
  background: hsl(var(--clr-alpha-gray-200)/0.03);
  box-shadow: 0 4px 30px hsl(var(--clr-alpha-gray-700)/0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 0;
  top: calc((100% - var(--bg-blur-hight)) / 2);
  z-index: -1;
}
header .bg-blur::after {
  --line-width: calc(90vw - 100%);
  content: "";
  position: absolute;
  height: 0.0625rem;
  width: var(--line-width);
  background-color: hsl(var(--clr-alpha-gray-200)/0.1);
  top: 50%;
  z-index: -1;
  left: calc(-1 * var(--line-width) + 2%);
}

:root {
  --explore-Button-size: clamp(13.75rem, 13.3044554455rem + 1.4851485149vw, 15.625rem);
}

section[aria-labelledby=hero-section-title] {
  width: 100vw;
  height: 100vh;
  padding-top: var(--Header-hight);
  background-image: url(../../assets/images/img/Home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[aria-labelledby=hero-section-title] .Container .Hero {
  width: 100%;
  height: 100%;
  padding-bottom: 15%;
}
section[aria-labelledby=hero-section-title] .Container .Hero > * {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 769px) {
  section[aria-labelledby=hero-section-title] .Container .Hero {
    flex-direction: column;
  }
  section[aria-labelledby=hero-section-title] .Container .Hero > * {
    width: 100%;
    height: 50%;
  }
}
section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text {
  text-align: start;
}
section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text h1 {
  font-weight: var(--fw-l);
  letter-spacing: 0.296875rem;
  color: hsl(var(--clr-alpha-gray-200)/0.8);
  text-transform: uppercase;
  font-size: var(--fs-500);
  max-width: 50ch;
}
section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text h1 span {
  font-weight: var(--fw-l);
  font-size: var(--fs-900);
  display: inline-block;
  line-height: 1.2;
  color: var(--txt-clr);
}
section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text p {
  max-width: 50ch;
  font-size: var(--fs-400);
  margin: 0;
  line-height: var(--fs-600);
  color: hsl(var(--clr-alpha-gray-200)/0.8);
}
section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star .explore-Button {
  width: var(--explore-Button-size);
  height: var(--explore-Button-size);
  font-size: var(--fs-600);
  color: var(--bg-clr);
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: var(--txt-clr);
  border: none;
  transition: box-shadow 1s ease;
  box-shadow: 0 0 0 0 hsl(var(--clr-alpha-white)/0.1);
}
section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star .explore-Button:hover,
section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star .explore-Button:focus-visible {
  transition: box-shadow 1s ease;
  box-shadow: 0 0 0 calc(var(--explore-Button-size) / 2.5) hsl(var(--clr-alpha-white)/0.1);
}

section[aria-labelledby=destination-section-title] {
  width: 100vw;
  height: 100vh;
  padding-top: var(--Header-hight);
  background-image: url(../../assets/images/img/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[aria-labelledby=destination-section-title] .Container .destination {
  width: 100%;
  height: 100%;
}
section[aria-labelledby=destination-section-title] .Container .destination > * {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 769px) {
  section[aria-labelledby=destination-section-title] .Container .destination {
    flex-direction: column;
  }
  section[aria-labelledby=destination-section-title] .Container .destination > * {
    width: 100%;
    height: 50%;
  }
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-star {
  display: grid;
  grid-template-rows: 10% 90%;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-star h2 {
  margin: 0;
  font-size: var(--fs-400);
  font-weight: var(--fw-m);
  font-family: var(--ff-sans-cond);
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-star h2 span {
  margin-right: clamp(0.3125rem, 0.2382425743rem + 0.2475247525vw, 0.625rem);
  color: hsl(var(--clr-alpha-gray-200)/0.5);
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star {
  padding-top: 5rem;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false] {
  width: 100%;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false] img {
  width: 75%;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=true] {
  display: none;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text {
  padding: 0 0 0 5%;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav {
  width: 100%;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav ul {
  gap: 1.5rem;
  font-family: var(--ff-sans-cond);
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav ul li .Button {
  border: 0;
  border-radius: 0;
  padding: max(0.5em, 0.5rem) 0;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] h3 {
  font-size: var(--fs-900);
  font-weight: var(--fw-l);
  color: var(--txt-clr);
  font-family: var(--ff-sans-cond);
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] > p {
  font-size: var(--fs-300);
  margin: 0;
  line-height: var(--fs-600);
  color: hsl(var(--clr-alpha-gray-200)/0.8);
  font-family: var(--ff-sans-normal);
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] .info {
  width: 80%;
  padding-top: 1rem;
  margin-top: 10%;
  border-top: 2px solid hsl(var(--clr-alpha-white)/0.1);
  gap: 5rem;
  text-transform: uppercase;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] .info h4 {
  font-size: var(--fs-300);
  line-height: var(--fs-600);
  color: hsl(var(--clr-alpha-gray-200)/0.9);
  margin: 0;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=false] .info p {
  font-size: var(--fs-500);
  line-height: var(--fs-600);
  margin: 0;
  color: hsl(var(--clr-alpha-gray-200)/0.9);
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text article[aria-hidden=true] {
  display: none;
}
section[aria-labelledby=destination-section-title] .Container .destination .destination-text article#europa-section h3 {
  font-size: var(--fs-800);
}

section[aria-labelledby=crow-section-title] {
  width: 100vw;
  height: 100vh;
  padding-top: var(--Header-hight);
  background-image: url(../../assets/images/img/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[aria-labelledby=crow-section-title] .Container #crow-section-title {
  max-width: 50%;
  margin: 0;
  font-size: var(--fs-400);
  font-weight: var(--fw-m);
  font-family: var(--ff-sans-cond);
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
}
section[aria-labelledby=crow-section-title] .Container #crow-section-title span {
  margin-right: clamp(0.3125rem, 0.2382425743rem + 0.2475247525vw, 0.625rem);
  color: hsl(var(--clr-alpha-gray-200)/0.5);
}
section[aria-labelledby=crow-section-title] .Container .crow {
  width: 100%;
  height: 100%;
}
section[aria-labelledby=crow-section-title] .Container .crow > * {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 769px) {
  section[aria-labelledby=crow-section-title] .Container .crow {
    flex-direction: column;
  }
  section[aria-labelledby=crow-section-title] .Container .crow > * {
    width: 100%;
    height: 50%;
  }
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text {
  padding: 15% 0 15% 0;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text article[aria-hidden=false] h3 {
  font-size: var(--fs-700);
  font-weight: var(--fw-l);
  color: var(--txt-clr);
  font-family: var(--ff-sans-cond);
  line-height: 1.2;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  font-family: var(--ff-serif);
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text article[aria-hidden=false] h3 span {
  color: hsl(var(--clr-alpha-gray-200)/0.5);
  font-size: var(--fs-500);
  display: block;
  line-height: 1.2;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text article[aria-hidden=false] > p {
  font-size: var(--fs-300);
  margin: 0;
  line-height: var(--fs-600);
  color: hsl(var(--clr-alpha-gray-200)/0.8);
  font-family: var(--ff-sans-normal);
  max-width: 50ch;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text article[aria-hidden=true] {
  display: none;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text article#mission-section h3 {
  font-size: var(--fs-600);
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav {
  width: 100%;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul {
  gap: 1rem;
  font-family: var(--ff-sans-cond);
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul li {
  --button-size: 0.75rem;
  width: var(--button-size);
  height: var(--button-size);
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul li button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(var(--clr-alpha-white)/0.3);
  border: none;
  cursor: pointer;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul li Button:focus-visible {
  box-shadow: 0 0 0 0.3em var(--bg-clr), 0 0 0 0.5em #0d6dfd;
  background-color: hsl(var(--clr-alpha-white)/0.5);
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul li Button:hover[date-selected=false] {
  background-color: hsl(var(--clr-alpha-white)/0.5);
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav ul li button[date-selected=true] {
  background-color: var(--txt-clr);
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star {
  height: 100%;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=false] {
  width: 100%;
  height: 100%;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=false] img {
  height: 85%;
}
section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=true] {
  display: none;
}

@media screen and (max-width: 48em) {
  header .header-Container .mobile-nav-toggle[aria-expanded=false] {
    display: block;
    background-image: url(../../assets/images/svg/icon-hamburger.svg);
  }
  header .header-Container .mobile-nav-toggle[aria-expanded=true] {
    display: block;
    background-image: url(../../assets/images/svg/icon-close.svg);
  }
  header .header-Container .main-navigation {
    width: auto;
  }
  header .header-Container .main-navigation ul {
    width: 70vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: -70%;
    background: hsl(var(--clr-alpha-gray-200)/0.03);
    box-shadow: 0 4px 30px hsl(var(--clr-alpha-gray-700)/0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: var(--Header-hight) 0 0 2rem;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 2rem;
    z-index: 999;
  }
  header .header-Container .main-navigation ul li {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    text-align: start;
  }
  header .header-Container .main-navigation ul li a {
    width: 100%;
    font-size: var(--fs-400);
    color: var(--txt-clr);
  }
  header .header-Container .main-navigation ul li a[date-selected=false]:hover::after,
header .header-Container .main-navigation ul li a[date-selected=false]:focus-visible::after,
header .header-Container .main-navigation ul li a[date-selected=true]::after {
    content: "";
    outline: none;
    position: absolute;
    width: 0.1875rem;
    height: 100%;
    background-color: hsl(var(--clr-alpha-white)/0.5);
    bottom: 0;
    left: 99%;
  }
  header .header-Container .main-navigation ul li a[date-selected=true]::after {
    background-color: var(--txt-clr);
  }
  @supports ((height: -webkit-fit-content) or (height: -moz-fit-content) or (height: fit-content)) {
    header .header-Container .main-navigation ul li {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
  }
  @supports not ((height: -webkit-fit-content) or (height: -moz-fit-content) or (height: fit-content)) {
    header .header-Container .main-navigation ul li {
      height: auto;
    }
  }
  header .bg-blur {
    display: none;
  }
  section[aria-labelledby=hero-section-title] {
    background-image: url(../../assets/images/img/Home/background-home-tablet.jpg);
    background-position: center;
  }
  section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text h1 {
    font-size: var(--fs-400);
  }
  section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text h1 span {
    font-size: var(--fs-800);
  }
  section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text p {
    font-size: var(--fs-300);
  }
  section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: flex-end !important;
  }
  section[aria-labelledby=destination-section-title] {
    background-image: url(../../assets/images/img/destination/background-destination-tablet.jpg);
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-star {
    height: auto;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star {
    padding-top: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false] {
    width: 100%;
    margin: 3rem;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false] img {
    width: clamp(10.9375rem, 0.5651595745rem + 55.3191489362vw, 27.1875rem) !important;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-text {
    height: auto;
    text-align: center;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-text .destination-nav ul {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 1.5rem;
    font-family: var(--ff-sans-cond);
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-text article .info {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  section[aria-labelledby=crow-section-title] {
    background-image: url(../../assets/images/img/crew/background-crew-tablet.jpg);
    background-position: center;
  }
  section[aria-labelledby=crow-section-title] .Container .crow .crow-text {
    height: auto;
    padding: 5% 0 0 0;
  }
  section[aria-labelledby=crow-section-title] .Container .crow .crow-text article[aria-hidden=false] {
    text-align: center;
  }
  section[aria-labelledby=crow-section-title] .Container .crow .crow-text article[aria-hidden=false] > p {
    max-width: 100%;
  }
  section[aria-labelledby=crow-section-title] .Container .crow .crow-text .crow-nav {
    margin-top: 1rem;
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  section[aria-labelledby=crow-section-title] .Container .crow .crow-hero {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section[aria-labelledby=crow-section-title] .Container .crow .crow-hero .star picture[aria-hidden=false] img {
    height: 95%;
  }
  .opps .Container h1 {
    font-size: var(--fs-500);
  }
  .Button:not(:last-child),
.inputFiled:not(:last-child) {
    margin: 0 0 1rem 0;
  }
}
@media screen and (min-width: 48.0625em) {
  .main-navigation ul {
    transform: translate(0, 0) !important;
  }
}
@media screen and (max-width: 26.5625em) {
  section[aria-labelledby=hero-section-title] {
    background-image: url(../../assets/images/img/Home/background-home-mobile.jpg);
  }
  section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Text {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  section[aria-labelledby=hero-section-title] .Container .Hero .Hero-Star {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: flex-end !important;
  }
  section[aria-labelledby=destination-section-title] {
    background-image: url(../../assets/images/img/destination/background-destination-mobile.jpg);
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-star {
    text-align: center;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-star .star picture[aria-hidden=false] {
    width: 100%;
  }
  section[aria-labelledby=destination-section-title] .Container .destination .destination-text article .info {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  section[aria-labelledby=crow-section-title] {
    background-image: url(../../assets/images/img/crew/background-crew-mobile.jpg);
  }
}
@supports (overflow-x: clip) {
  html,
body {
    overflow-x: clip;
  }
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  .main-navigation ul,
.bg-blur {
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
}
@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  .main-navigation ul,
.bg-blur {
    background-color: hsl(var(var(--clr-primary))/0.9);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}/*# sourceMappingURL=main.css.map */
