@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

:root {
	--Header-hight: calc(10vh + 3rem);
	--header-Container-width: 92%;
	--Header-Nav-width: 90%;
	--Header-icon-hight: 5em;
	--bg-blur-hight: 60%;
}

header {
	width: 100vw;
	height: var(--Header-hight);
	z-index: 100;
	position: fixed;
	padding: 0.2rem 0 0 0;
	.header-Container {
		height: 100%;
		width: var(--header-Container-width);
		margin-left: calc(100% - var(--header-Container-width));
		@include flex(r, sb, c);
		gap: 1rem;
		.Logo {
			height: 100%;
			@include flex(n, c, c);
			a {
				cursor: pointer;
				img {
					width: var(--fs-600);
				}
			}
		}
		.mobile-nav-toggle {
			--icon-size: var(--fs-400);
			cursor: pointer;
			display: none;
			position: absolute;
			right: calc(100% - var(--header-Container-width));
			border: 0;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			user-select: none;
			width: var(--icon-size);
			height: var(--icon-size);
			z-index: 1000;
		}
		.main-navigation {
			width: var(--Header-Nav-width);
			height: var(--bg-blur-hight);
			font-size: var(--fs-m);
			@include flex(r, fe, c);
			padding-right: calc(100% - var(--header-Container-width));
			ul {
				width: 78%;
				height: 100%;
				font-family: var(--ff-sans-cond);
				@include flex(r, se, c);
				z-index: 1;
				li {
					height: 100%;
					@include flex(r, c, c);
					position: relative;
					a {
						font-size: var(--fs-300);
						line-height: 1.5;
						color: hsl(var(--clr-alpha-white) / 0.6);
						letter-spacing: #{toRem(2.7px)};
						text-transform: uppercase;
						span {
							margin-right: ClampCalc(1px, 5px);
							font-weight: var(--fw-b);
							color: var(--txt-clr);
						}
					}
					a[date-selected="false"]:hover::after,
					a[date-selected="false"]:focus-visible::after,
					a[date-selected="true"]::after {
						content: "";
						outline: none;
						position: absolute;
						width: 100%;
						height: #{toRem(3px)};
						background-color: hsl(var(--clr-alpha-white) / 0.5);
						bottom: 0;
						left: 0;
					}
					a[date-selected="true"]::after {
						background-color: var(--txt-clr);
					}
				}
			}
		}
	}
	.bg-blur {
		position: absolute;
		width: 70%;
		height: var(--bg-blur-hight);
		background: hsl(var(--clr-alpha-gray-200) / 0.03);
		box-shadow: 0 4px 30px hsl(var(--clr-alpha-gray-700) / 0.1);
		border: 1px solid rgba(0, 0, 0, 0.1);
		right: 0;
		top: calc((100% - var(--bg-blur-hight)) / 2);
		z-index: -1;
	}
	.bg-blur::after {
		--line-width: calc(90vw - 100%);
		content: "";
		position: absolute;
		height: #{toRem(1px)};
		width: var(--line-width);
		background-color: hsl(var(--clr-alpha-gray-200) / 0.1);
		top: 50%;
		z-index: -1;
		left: calc(-1 * var(--line-width) + 2%);
	}
}
